<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="node_modules/angular-translate/dist/angular-translate.js"></script>
    <script src="node_modules/angular-cookies/angular-cookies.js"></script>
    <script src="node_modules/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <style>
        body {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
    </style>
</head>
<body>
<div>
    <h1 translate="TITLE.WELCOME"></h1>
    <p translate="TITLE.SUBSCRIBE"></p>
    <p>
        <input type="text" translate-attr-placeholder="Your Email">
        <button>{{"BUTTON.SUBSCRIBE" | translate}}</button>
    </p>
    <div ng-controller="LangControls as langControls">
        <button translate="English"
                ng-click="langControls.changeLanguage('en')"></button>
        <button translate="Deutsch"
                ng-click="langControls.changeLanguage('de')"></button>
    </div>
</div>
</body>
</html>